def SELECTION(d, q)then
    if R_lr1 == R_kbthen
        return R_ka
    else
        return R_lr1
    end if
end selection

In [1]:
import pandas as pd
import numpy as np

In [2]:
prob_df=pd.read_csv("/home/arkaprabham/Desktop/lr_prob1.csv")

In [4]:
prob_df.set_index("Unnamed: 0",inplace=True)
np.shape(prob_df)

(1169, 4)

In [5]:
R_LR1=[]
R_LR2=[]
for i in range(1169):
    dicti={}
    dicti[prob_df.iloc[i,0]]='S1'
    dicti[prob_df.iloc[i,1]]='S2'
    dicti[prob_df.iloc[i,2]]='S3'
    dicti[prob_df.iloc[i,3]]='S4'
    a=sorted(prob_df.iloc[i,:])
    R_LR1.append(dicti[a[3]])
    R_LR2.append(dicti[a[2]])

In [6]:
sorted(prob_df.iloc[1,:])

[6.317545249541861e-05, 0.0203369531, 0.031240172000000004, 0.9417109331]

In [7]:
lR=pd.DataFrame({'R_LR1':R_LR1 , 'R_LR2':R_LR2})

In [8]:
lR

     R_LR1 R_LR2
0       S3    S1
1       S2    S1
2       S3    S4
3       S1    S4
4       S3    S1
5       S3    S4
6       S1    S2
7       S3    S1
8       S2    S3
9       S4    S1
10      S3    S2
11      S2    S4
12      S2    S3
13      S3    S4
14      S1    S4
15      S3    S1
16      S2    S3
17      S3    S4
18      S3    S1
19      S4    S2
20      S3    S1
21      S2    S1
22      S3    S4
23      S1    S2
24      S4    S2
25      S3    S2
26      S3    S2
27      S4    S1
28      S4    S1
29      S2    S1
...    ...   ...
1139    S2    S4
1140    S3    S4
1141    S2    S1
1142    S3    S4
1143    S3    S4
1144    S1    S4
1145    S2    S4
1146    S3    S2
1147    S3    S1
1148    S4    S1
1149    S1    S3
1150    S4    S1
1151    S2    S4
1152    S2    S3
1153    S3    S1
1154    S3    S4
1155    S2    S3
1156    S4    S1
1157    S2    S3
1158    S4    S2
1159    S3    S1
1160    S2    S1
1161    S3    S1
1162    S3    S4
1163    S3    S4
1164    S3    S2
1165    S3    S1
1166    S3    S4
1167    S3    S2
1168    S1    S2

[1169 rows x 2 columns]

In [10]:
knn0=pd.read_csv("/home/arkaprabham/Desktop/knnprob_de1_0.csv")

In [11]:
knn1=pd.read_csv("/home/arkaprabham/Desktop/knnprob_de1_1.csv")

In [12]:
R_kb=[]
for i in range(1169):
    dicti={}
    dicti[knn1.iloc[i,0]]='S1'
    dicti[knn1.iloc[i,1]]='S2'
    dicti[knn1.iloc[i,2]]='S3'
    dicti[knn1.iloc[i,3]]='S4'
    b=sorted(knn1.iloc[i,:])
    R_kb.append(dicti[b[3]]) #max of zero prob

In [13]:
R_ka=[]
for i in range(1169):
    dicti={}
    dicti[knn0.iloc[i,0]]='S1'
    dicti[knn0.iloc[i,1]]='S2'
    dicti[knn0.iloc[i,2]]='S3'
    dicti[knn0.iloc[i,3]]='S4'
    b=sorted(knn0.iloc[i,:])
    R_ka.append(dicti[b[3]]) #max of one prob

In [14]:
kNN=pd.DataFrame({'R_ka':R_ka , 'R_kb':R_kb})
kNN

     R_ka R_kb
0      S1   S3
1      S2   S3
2      S1   S4
3      S4   S3
4      S3   S4
5      S1   S4
6      S4   S3
7      S1   S3
8      S4   S3
9      S1   S3
10     S1   S3
11     S2   S2
12     S1   S3
13     S2   S4
14     S2   S3
15     S2   S4
16     S4   S3
17     S2   S3
18     S4   S3
19     S2   S3
20     S1   S4
21     S3   S4
22     S3   S4
23     S2   S1
24     S2   S4
25     S2   S4
26     S2   S3
27     S2   S2
28     S1   S4
29     S1   S4
...   ...  ...
1139   S1   S4
1140   S2   S2
1141   S4   S1
1142   S2   S4
1143   S1   S4
1144   S2   S2
1145   S2   S2
1146   S4   S4
1147   S3   S4
1148   S3   S1
1149   S2   S2
1150   S1   S4
1151   S1   S3
1152   S4   S3
1153   S1   S3
1154   S4   S3
1155   S4   S1
1156   S4   S3
1157   S2   S2
1158   S4   S3
1159   S4   S3
1160   S2   S4
1161   S2   S2
1162   S3   S4
1163   S1   S4
1164   S4   S1
1165   S2   S4
1166   S1   S4
1167   S2   S2
1168   S3   S4

[1169 rows x 2 columns]

In [15]:
#lR ,kNN
Selected=[]
for i in range(1169):
    if lR.iloc[i,0] == kNN.iloc[i,1]:
        Selected.append(kNN.iloc[i,0])
    else:
        Selected.append(lR.iloc[i,0])

In [16]:
X=[x for x in range(1169)]
pd.DataFrame({'Order':X , 'Selected supplier':Selected})

      Order Selected supplier
0         0                S1
1         1                S2
2         2                S3
3         3                S1
4         4                S3
5         5                S3
6         6                S1
7         7                S1
8         8                S2
9         9                S4
10       10                S1
11       11                S2
12       12                S2
13       13                S3
14       14                S1
15       15                S3
16       16                S2
17       17                S2
18       18                S4
19       19                S4
20       20                S3
21       21                S2
22       22                S3
23       23                S2
24       24                S2
25       25                S3
26       26                S2
27       27                S4
28       28                S1
29       29                S2
...     ...               ...
1139   1139                S2
1140   1140                S3
1141   1141                S2
1142   1142                S3
1143   1143                S3
1144   1144                S1
1145   1145                S2
1146   1146                S3
1147   1147                S3
1148   1148                S4
1149   1149                S1
1150   1150                S1
1151   1151                S2
1152   1152                S2
1153   1153                S1
1154   1154                S4
1155   1155                S2
1156   1156                S4
1157   1157                S2
1158   1158                S4
1159   1159                S4
1160   1160                S2
1161   1161                S3
1162   1162                S3
1163   1163                S3
1164   1164                S3
1165   1165                S3
1166   1166                S3
1167   1167                S3
1168   1168                S1

[1169 rows x 2 columns]

# The End